<section id="consolas">
    <h1>Información de las consolas</h1>
    <div id="acordeon">
        <div class="consola">
            <h3 class="titulo-acordeon">
                PlayStation 5
                <span class="icono-acordeon"><i class="fa-solid fa-plus"></i></span>
            </h3>
            <p class="parrafo-acordeon">
                Gráficos impresionantes y tiempos de carga ultrarrápidos gracias a su potente SSD y soporte para 4K. El
                mando DualSense ofrece una experiencia inmersiva con respuesta háptica avanzada y gatillos adaptativos.
            </p>
        </div>
        <div class="consola">
            <h3 class="titulo-acordeon">
                Xbox Series X
                <span class="icono-acordeon"><i class="fa-solid fa-plus"></i></span>
            </h3>
            <p class="parrafo-acordeon">
                La consola más potente de Microsoft, diseñada para juegos en 4K nativo y hasta 120 FPS. Destaca por su
                retrocompatibilidad y el servicio Xbox Game Pass, que brinda acceso a una vasta biblioteca de juegos.
            </p>
        </div>
        <div class="consola">
            <h3 class="titulo-acordeon">
                Nintendo Switch
                <span class="icono-acordeon"><i class="fa-solid fa-plus"></i></span>
            </h3>
            <p class="parrafo-acordeon">
                Innovadora consola híbrida que permite jugar tanto en modo portátil como en modo sobremesa. Cuenta con
                exclusivos como Zelda y Mario, además de un catálogo diverso y colorido para todas las edades.
            </p>
        </div>
        <div class="consola">
            <h3 class="titulo-acordeon">
                PC Gamer
                <span class="icono-acordeon"><i class="fa-solid fa-plus"></i></span>
            </h3>
            <p class="parrafo-acordeon">
                La plataforma más versátil para gamers exigentes, personalizable y actualizable. Permite disfrutar de
                juegos con la máxima calidad gráfica, mods, periféricos avanzados y comunidades en línea activas.
            </p>
        </div>
    </div>
</section>