<header>
    <div id="titulo">
      <div class="logo">🎮</div>
      <h1>CyberQuest</h1>
    </div>
    <div id="nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li>
            <a href="#">Consolas</a>
            <ul class="submenu">
                <li>Switch 2</li>
                <li>PS 4</li>
                <li>XBox One</li>
            </ul>
        </li>
        <li><a href="/videojuegos">Videojuego</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </header>