<header>
    <div id="titulo">
      <div class="logo">🎮</div>
      <h1>CyberQuest</h1>
    </div>
    <div id="nav">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Información</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </header>