<!DOCTYPE html>
<html>
  <head>
    <title>Ejercicio Repaso Videojuegos</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Este sitio web rtata sobre videojuegos" />
    <meta name="keywords" content="videojuegos,colecciones,games" />
    <meta name="author" content="Francisco Romero" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="alternate"
      href="atom.xml"
      type="application/atom+xml"
      title="Atom"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="videojuegos.com" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("partials/menuNav") %>

    <main>
      <section id="hero">
        <div id="hero-info">
          <h2>
            Sum칠rgete en un mundo de aventuras 칠picas y conquista el
            ciberespacio
          </h2>
          <button id="download">DESCARGAR AHORA</button>
        </div>
      </section>

      <section id="mas-info">
        <h2>M치s Informaci칩n</h2>

        <div id="cartas">
          <div class="card">
            <div class="card-icon">丘덢잺</div>
            <h3>Acci칩n Intensa</h3>
            <p>
              Combates 칠picos en tiempo real con mec치nicas innovadoras que te
              mantendr치n al l칤mite
            </p>
          </div>

          <div class="card">
            <div class="card-icon">游깴</div>
            <h3>Mundo Abierto</h3>
            <p>
              Explora vastos territorios llenos de secretos, misiones y desaf칤os
              sin l칤mites
            </p>
          </div>

          <div class="card">
            <div class="card-icon">游논</div>
            <h3>Multijugador</h3>
            <p>
              칔nete a millones de jugadores en una experiencia social 칰nica y
              competitiva
            </p>
          </div>
        </div>
      </section>

      <section id="consolas">
        <h1>Informaci칩n de las consolas</h1>
        <div id="acordeon">
          <div class="consola">
            <h3>PlayStation 5
              <span class="icono-acordeon">
                <i class="fa-solid fa-plus drop-acordeon" style="color: #ffffff;"></i>
              </span>
            </h3>
            <p class="parrafo-acordeon">Gr치ficos impresionantes y tiempos de carga ultrarr치pidos gracias a su potente SSD y soporte para 4K. El mando DualSense ofrece una experiencia inmersiva con respuesta h치ptica avanzada y gatillos adaptativos.</p>
          </div>
          <div class="consola">
            <h3>Xbox Series X
              <span class="icono-acordeon">
                <i class="fa-solid fa-plus drop-acordeon" style="color: #ffffff;"></i>
              </span>
            </h3>
            <p class="parrafo-acordeon">La consola m치s potente de Microsoft, dise침ada para juegos en 4K nativo y hasta 120 FPS. Destaca por su retrocompatibilidad y el servicio Xbox Game Pass, que brinda acceso a una vasta biblioteca de juegos.</p>
          </div>
          <div class="consola">
            <h3>Nintendo Switch
              <span class="icono-acordeon">
                <i class="fa-solid fa-plus drop-acordeon" style="color: #ffffff;"></i>
              </span>
            </h3>
            <p class="parrafo-acordeon">Innovadora consola h칤brida que permite jugar tanto en modo port치til como en modo sobremesa. Cuenta con exclusivos como Zelda y Mario, adem치s de un cat치logo diverso y colorido para todas las edades.</p>
          </div>
          <div class="consola">
            <h3>PC Gamer
              <span class="icono-acordeon">
                <i class="fa-solid fa-plus drop-acordeon" style="color: #ffffff;"></i>
              </span>
            </h3>
            <p class="parrafo-acordeon">La plataforma m치s vers치til para gamers exigentes, personalizable y actualizable. Permite disfrutar de juegos con la m치xima calidad gr치fica, mods, perif칠ricos avanzados y comunidades en l칤nea activas.</p>
          </div>
        </div>
      </section>
      
    </main>

    <%- include("partials/footer") %>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
