/*tipografías*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/*dimensiones de elementos*/
/***********************TEXTOS*************************/
h1 {
    font-size: 2.5rem;
}

#hero h2 {
    font-size:3rem;
}

section h2 {
    font-size: 2.5rem;
}

.card h3 {
    font-size: 1.8rem;
}

#menu-offCanvas h3 {
    font-size: 2rem;
}

/*************************ELEMENTOS**************************/
/** Logo */
.logo {
    width: 60px;
    height: 60px;
    font-size: 32px; /* Para emoji en el logo */
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/** Tarjetas (Cards) */
.card {
    min-width: 280px;
    max-width: 350px;
}

/** Iconos en las tarjetas */
.card-icon {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/** Menú Off-canvas */
#menu-offCanvas {
    width: 400px;
}

/** Iconos en el menú Off-canvas */
.offcanvas-icon {
    width: 50px;
    height: 50px;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}
